*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFD6D6;
  height: 2600px ;
}
.container{
  max-width: 1100px;
  margin: auto;
}
header{
  background-color: #650404;
  text-align: center;
  padding: 10px;
  color: white;
}
.title{
  font-size: 26px;
}
section{
  color: white;
}

.header{
  padding: 20px;
  background-image:url(./images1/pexels-sora-shimazaki-5938248.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: 10% 30%;
}
.formContainer{
  max-width: 230px;
  background-color: #FF3737;
  float: right;
  padding: 20px;
}

h2{
  font-size: 16px;
}

.mb{
  margin-bottom: 10px;
}

input,select{
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 5px;
}
input[type="submit"]{
  color: #650404;
  background-color: #FFD6D6;
  font-weight: bold;
  border-radius: 15px;
  cursor:pointer;
}
input[type="submit"]:hover{
transition: 0.5s;
background-color: #BD0A0A;
color: #FFD6D6;
}


ul{
  padding-top: 10px;
  list-style: none;
  font-size: 20px;
}
nav li{
  display: inline-block;
  padding: 4px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #BD0A0A;
  border-radius: 10px;
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
}

nav li:hover{
  transition: 0.5s;
  background-color: white;
  color: #BD0A0A;
}

.img_div{
display:inline-flex;
text-align: center;
margin-top: 5%;
}

.img_1 {
  max-width: 540px;
  height: 300px;
  border:solid;
  border-color:transparent;
  border-radius: 20px;

}
.img_2{
  max-width: 540px;
  height: 300px;
  border:solid;
  border-color:transparent;
  border-radius: 20px;

}
.img_1_container{
  position: relative;
  margin-right: 5%;
}
.img_2_container{
  position: relative;
}
.img_1_container a{
  margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color:#d6ccc2;
    background-color:#023047;
    border-radius: 20px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.img_2_container a{
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color:#FFD6D6;
    background-color:#650404;
    border-radius: 20px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.img_1_container a:hover{
  transition: 0.5s;
  color:#023047;
  background-color: #d6ccc2;
}
.img_2_container a:hover{
  transition: 0.5s;
  color:#650404;
  background-color: #FFD6D6;
}

.moda_img{
  position: relative;
  margin-top: 5%;
  max-width: 1100px;
}
.moda_img h3{
  margin: 0;
  font-size: 40px;
  text-align: center;
  max-width: 250px; 
  position: absolute;
  top: 40%;
  left:2%;
  background-color: rgb(189, 10, 10,0.5);
  color:whitesmoke;
  border:solid transparent;
  border-radius: 15px;
  padding: 2%;
  padding-bottom: 10%;
  margin-bottom: 5%;
  }
.botao_container{

  position: absolute;
  height: 500px;
  width: 700px;
}
  .moda_img a{
    margin: 0;
    padding: 0;
    color: #03071e;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    margin-top: 2%;
    margin-right: -50%;
    top: 88%;
    left:50%;
    background-color: #d6ccc2;
    padding: 10px;
    border:0px solid transparent;
    border-radius: 15px;
    max-width: 150px;
    transform: translate(-50%, -50%);
  }

  .moda_img a:hover{
    transition: 0.5s ease;
    color: #ffe6e8;
    background-color: #358f80;
    border-radius: 40px;
    
  }


.img_3{
  width: 1100px;
  height: 600px;
}
.lista_produtos{
  display: inline;
  position: relative;
  max-width: 1100px;
}
.lista_produtos li{
  margin-top: 5%;
  position: relative;
  margin-left: 1%;
  width: 240px;
  height: 250px;
}
.perfume{
  background-image: url(./images1/birgith-roosipuu-nka_sIQpKEU-unsplash.jpg);
  background-size: 90%;
  background-position: 50% 70%;
}
.roupas{
  background-image: url(./images1/md-salman-tWOz2_EK5EQ-unsplash.jpg);
  background-size: 90%;
  background-position: 50% 10%;
}
.joias{
  background-image: url(./images1/andres-vera-202NAwjisYA-unsplash.jpg);
  background-size: 100%;
  background-position:10% 0%;
}
.maquiagem{
  background-image: url(./images1/jazmin-quaynor-FoeIOgztCXo-unsplash.jpg);
  background-size: 100%;
  background-position: 70% 20%;
}
.lista_produtos a{
  margin: 0;
  padding: 0;
  position: absolute;
  top:90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color:#bc4749;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}
.lista_produtos a:hover{
background-color: #358f80;
}

.joia_img{
  margin-left: 1%;
  width:350px;
  height: 300px;
  margin-top: 4%;
}
.joia_container{
  margin-top: 5%;
  text-align: center;
  align-items: center;
  position: relative;
  font-size: 26px;
}
.botao_joia h3{
  color:#03071e;
  background-color: rgb(221, 161, 94,0.7);
  width: 1100px;

  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: -1%;
}
.botao_joia a{
  font-size: 22px;
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #ffe6e8;
color: #023047;
padding: 10px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 15px;
}

.botao_joia a:hover{
  transition: 0.5s ease;
  border-radius: 0;
  background-color:#650404;
  color:#ffe6e8;
  padding: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 25px;
}
footer{
  background-color: #03071e;
  color: #d6ccc2;
  margin-top: 10%;
  padding: 2%;
  padding-bottom: 5%;
}
.footer_empresa ul{
  display: inline-block;
  margin-left: 5%; 
}

.footer_empresa ul li{
  padding-top: 3%;
}

.footer_empresa ul li:hover{
text-decoration: underline;
text-decoration-color: #ffe6e8;
}

.redes_sociais{
  display: inline-flex;
  font-size: 22px;
  margin-top: 5%;
  margin-left: 5%;
  width: 700px;

}
.redes_sociais ul{
  padding: 0;
  display: flex;
}
.redes_sociais ul li{
  margin-left: 25px;
}
.redes_sociais ul li:hover{
  transition: 1s ease;
  padding-top: 1%;
  zoom: 1.2;
}